<header>
    <div class="text-right">
        <button class="btn btn-danger ml-3" (click)="isUserLogOut()" routerLink="/">LogOut</button>
    </div>
</header>
<div class="row">
    <div class="col-md-8">
        <h2 class="my-4 bg-primary text-white p-3 text-capitalize">Product Count : {{product.length}}</h2>
        <div class="card mb-5" *ngFor=" let singleproduct of product">
            <div class="card-header">
                <h2 class="text-uppercase">{{singleproduct.name}}</h2>
            </div>
            <div class="card-body">
                <p>{{singleproduct.content}}</p>
            </div>
            <div class="card-footer text-right">
                <button class="btn btn-primary" routerLink="/Addproduct">Add</button>
            </div>
        </div>
    </div>
</div>